@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

strong {
  color:#222;
  font-weight:700;
}

li {
  list-style: none;
}

section {
  width:500px;
  margin: 0 auto;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}